.modal-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal-inner .alert-image {
  height: 40px;
}

.modal-inner .close-button {
  width: 100px;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #360d60;
  text-align: center;
  color: #360d60;
  margin: 10px;
}

.modal-inner .line {
  border-top: 1px solid #8c8b8b;
  width: 100px;
}

.modal-inner .close-button:hover {
  background-color: #360d60;
  color: white;
}
