body {
  cursor: default;
}

img:before {
  content: "Report brought to you by Alphie";
  display: inline;
  padding-left: 4px;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

#modal-img {
  max-width: 500px;
  max-height: 400px;
  width: 98%;
  margin-bottom: 10px;
}

.buttons {
  position: absolute;
  z-index: 2;
  top: 110px;
  right: 12px;
}

#report-button {
  background-color: #dddddd;
  border-radius: 1px solid #360d60;
  background-color: #a01c21;
  border-radius: 5px;
  font-size: 16px;
  width: 120px;
  color: white;
  padding: 10px;
  text-align: center;
  transition: 0.2s;
}

#time-button {
  border-radius: 1px solid #360d60;
  background-color: #de6e26;
  border-radius: 5px;
  font-size: 16px;
  width: 120px;
  color: white;
  padding: 10px;
  margin-top: 8px;
  text-align: center;
  transition: 0.2s;
}

#report-button:hover {
  background-color: #77161a;
}

#time-button:hover {
  background-color: #bf5f22;
}

#you-button {
  border: 1px solid #360d60;
  color: #360d60;
  border-radius: 5px;
  font-size: 16px;
  width: 80px;
  padding: 10px;
  text-align: center;
  margin: auto;
  transition: 0.2s;
}

#you-button:hover {
  background-color: #360d60;
  color: white;
}

#message {
  display: none;
  color: white;
  position: absolute;
  z-index: 5;
  top: 200px;
  left: 50%;
  color: white;
  font-size: 21px;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.button {
  border: 1px solid #360d60;
  color: #360d60;
  border-radius: 5px;
  font-size: 16px;
  width: 80px;
  padding: 10px;
  text-align: center;
}

.modal-inner .title {
  font-size: 24px;
}
.modal-inner .description {
  text-align: center;
  font-size: 14px;
}
.modal-inner #submit-button:hover {
  color: white;
  background-color: #360d60;
}
.modal-inner #close-button:hover {
  color: white;
  background-color: #360d60;
}

.modal-inner .form-input {
  display: block;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.modal-inner .form-input:focus {
  outline: none;
}

.modal-inner hr {
  width: 300px;
  margin-top: 10px;
  color: #ddd;
}

.modal-inner #submit-button {
  display: inline-block;
  margin: 10px;
}

.modal-inner #close-button {
  display: inline-block;
  margin: 10px;
}

.modal-inner #custom-button {
  display: inline-block;
  margin: 10px;
}

.modal-inner #button-row {
  text-align: center;
}

.modal-inner-marker {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.modal-inner-marker .alert-image {
  height: 40px;
}

.modal-inner-marker .close-button {
  width: 100px;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #360d60;
  text-align: center;
  color: #360d60;
  margin: 10px;
}

.modal-inner-marker .line {
  border-top: 1px solid #8c8b8b;
  width: 100px;
}

.modal-inner-marker .close-button:hover {
  background-color: #360d60;
  color: white;
}

.modal-inner-marker .description {
  font-size: 16px;
  width: 80%;
}

#alfie-box #alfie {
  position: absolute;
  bottom: 40px;
  left: 25px;
  height: 80px;
  z-index: 2;
}

#alfie-box #speech {
  position: absolute;
  bottom: 40px;
  left: 110px;
  height: 80px;
  z-index: 2;
}

#alfie-box #speech-text {
  position: absolute;
  bottom: 33px;
  left: 157px;
  color: #8c8b8b;
  height: 80px;
  width: 230px;
  z-index: 3;
  overflow: scroll;
}

#alfie-box .bold {
  font-weight: 800;
  color: #360d60;
}

#alfie-box #speech-text p {
  margin: 5px;
}

#alfie-box #time {
  font-style: italic;
}
