/* <!-- Forked from: https://github.com/cheeaun/cheeaun.github.com/blob/master/index.html --> */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  color: #666;
  background-color: #fff;
  font-family: 'Lato', arial, sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}