.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 50px;
  background: linear-gradient(#0a0b17, #1c1e62);
}

.home-page #title {
  color: white;
  font-size: 36px;
}

.home-page #phrase {
  color: #ddd;
}

.home-page #map-button {
  width: 100px;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #360d60;
  text-align: center;
  color: #360d60;
}

.home-page #map-button:hover {
  background-color: #360d60;
  color: white;
}

.home-page #logo {
  height: 150px;
}
